<style>
  #error_msg {
		color: #780a0a;
		font-size: 18px;
	}
</style>
<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Login</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
<!--		<div class="img">-->
<!--			<img src="{{ url_for('static', filename= 'images/favicon.ico') }}">-->
<!--		</div>-->
		<div class="reset-content">
			<form method="POST" action="/reset-password/update_password">
				<h1>Addams Family</h1>
				<img src="{{ url_for('static', filename= 'images/avatar.svg') }}">
				<h2 class="title">Reset Password</h2>
				<div class="input-div one">
           		   <div class="i">
           		   		<p class="fas fa-user"></p>
           		   </div>
           		   <div class="div">
           		   		<input type="email" class="input forgot-pswd-email" placeholder="Enter your email" name="username" id = "email">
           		   </div>

				</div>

           		<div class="input-div one">
           		   <div class="i">
           		   		<p class="fas fa-user"></p>
           		   </div>
           		   <div class="div">
           		   		<input type="password" class="input forgot-pswd-email" placeholder="New Password" name="new-pswd" id = "txtPassword">
           		   </div>

				</div>
				<div class="input-div one">
					<div class="i">
           		   		<p class="fas fa-user"></p>
           		   </div>
					<div class="div">
						<input type="password" class="input forgot-pswd-email" placeholder="Confirm Password" name="cnfrm-pswd" id="txtConfirmPassword">
					</div>
				</div>
				<div class="one">
					<span id="error_msg"></span>
				</div>
				<input type="submit" class="btn" value="Submit" onclick="return Validate()" >
            </form>
        </div>
	</div>
</body>
</html>
<script type="text/javascript">
    function Validate() {
			var password = document.getElementById("txtPassword").value;
			var confirmPassword = document.getElementById("txtConfirmPassword").value;
			if(password.length == 0 || confirmPassword.length == 0) {
				document.getElementById("error_msg").textContent = "Passwords can't be blank";
				return false;

			} else if (password != confirmPassword) {
				document.getElementById("error_msg").textContent = "Passwords do not match.";
				return false;
			} else if(password.length < 8 ) {
				 document.getElementById("error_msg").textContent = "Minimum 8 characters are required!";
				 return false;
			}
		return true;
    }
</script>
