<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Login</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
<!--		<div class="img">-->
<!--			<img src="{{ url_for('static', filename= 'images/favicon.ico') }}">-->
<!--		</div>-->
		<div class="reset-content">
			<form method="POST" action="/reset_password/reset">
				<h1>Addams Family</h1>
				<img src="{{ url_for('static', filename= 'images/avatar.svg') }}">
				<h2 class="title">Reset Password</h2>
				<h4>   Enter the email address that is associated with your account.</h4>
           		<div class="input-div one">
           		   <div class="i">
           		   		<p class="fas fa-user"></p>
           		   </div>
           		   <div class="div">
           		   		<input type="email" class="input forgot-pswd-email" placeholder="Email">
           		   </div>
				   </div>
<!--				<input type="submit" class="btn" value="Submit13213">-->
            </form>
        </div>
	</div>
</body>
</html>
