<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Booking</title>
    <form action="/booking/create/add" method="post">
        <label for="customerName">Customer Name
            <input type="text" name="customerName" placeholder="customerName" required/>
        </label><br>
        <label for="startDate">Start Date
            <input type="Date" name="startDate" placeholder="Start Date" required/>
        </label><br>
        <label for="endDate">End Date
            <input type="Date" name="endDate" placeholder="End Date" required/>
        </label><br>
        <label for="phoneNumber">Phone Number
            <input type="text" name="phoneNumber" placeholder="Phone Number" required/>
        </label><br>
        <label for="roomType">Room Type
            <input type="text" name="roomType" placeholder="Room Type" required/>
        </label><br>
        <label for="requests">Requests
            <input type="text" name="requests" placeholder="Requests" required/>
        </label><br>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </form>
</head>
<body>

</body>
</html>